[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
